# Ignore raw and processed data folders
data/

# Ignore ffmpeg config file
configs/ffmpeg.yaml
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment and uv
venv/
env/
.venv/
pyproject.toml
.python-version
uv.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints/

# Data files (large files should not be committed)
*.wav
*.mp3
*.flac
*.ogg

# Model checkpoints
*.pt
*.pth
*.ckpt
*.h5

# OS files
.DS_Store
Thumbs.db

# Helper folders nad documents
useful_tutorials/
proj_pdf/
outputs/
data/